# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Dataset
IMDB Dataset.csv

# Model Artifacts
trained-models/
*.pt
*.pth

# Logs
tensorboard/
logs/

# VS Code
.vscode/
